<a href="https://colab.research.google.com/github/Emon-115/Ai-lab/blob/main/Hw_01_Ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Console Output

In [4]:
print("Hello World")
print("How are you",181115,"what is Your CG:",2.97,"?")

hello world
How are you 181115 what is Your CG: 2.9 ?

Variable

In [9]:
x=5
y=5.5
z="emon"
print(x,y,z)
print(x+y,z)

5 5.5 emon
10.5 emon

Console input without type

In [14]:
x=input()
y=input()
print(x+y)

1.2
2.3
1.22.3

Console input with type

In [21]:
x=int(input())
y=int(input())
a=float(input())
z=input()
print(z,(x+y)-a)

10
20
4.5
EMON
EMON 25.5

String

In [22]:
x=10
y=5.2
z='hello'

t1= 'x={x} y={y} z={z}'
print(t1)
t2=f'x={x} y={y} z={z}'
print (t2)

x={x} y={y} z={z}
x=10 y=5.2 z=hello

In [25]:
x=10
y=5.2
z="hello"

t1= "x={x} y={y} z={z}"
print(t1)
t2=f"x={x}  y={y} z={z}"
print (t2)

x={x} y={y} z={z}
x=10  y=5.2 z=hello

Operators

In [30]:
x=5
x=x+1  #x=x+1 and x+=1 same
print(x)

6

In [34]:
x=5
x=x+1
x+=1
print(x)
print(2**5)

7
32

Conditioning

In [48]:
x=int(input())
if x%2==0:
    print("even")
else:
    print("odd")

if x>0:
    print("+ve")
elif x<0:
    print("-ve")
else:
    print("zero")


if 3<=x and x<=5:  # we can write like that   if (3<=x<=5):
    print("yes")
else:
      print("NO")

4
even
+ve
yes

Looping

In [62]:
for i in range (10):
  print(i)


sum=0
for i in range(5):
  sum=sum+int(input())
print ("total:",sum)

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
total: 15

for(int i=10; i < 15; i++)

In [69]:
for i in range (10,15,1):
    print(i)

10
11
12
13
14

# for(int i=10; i > 5; i--)

In [70]:
for i in range (10,5,-1):
  print(i)

10
9
8
7
6

for(int i=0; i < 21; i+=2)

In [74]:
for i in range (0,21,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

In [77]:
print('hello', end='')
print('world')

helloworld

x=4
*
**
***
****

In [82]:
n=int(input())
for i in range(1,n+1):
  for j in range(i):
    print('*',end='')
  print()

5
*
**
***
****
*****

In [86]:
n=int(input())
for i in range(1,n+1):
  for j in range(i):
    print('* ',end='')
  print()

5
*
* *
* * *
* * * *
* * * * *

List

In [89]:
list1=[5,7,9,10,-10]
list1.append(105)
print(list1)

for i in range (3):
 list1.append(int(input()))
print(list1)
list1.sort()
print(list1)

[5, 7, 9, 10, -10, 105]
22
33
44
[5, 7, 9, 10, -10, 105, 22, 33, 44]
[-10, 5, 7, 9, 10, 22, 33, 44, 105]